body{
    background: #f5f5f5;
    margin: 0px;
}
canvas{
    background: #aaa;
    border:1px solid #d1cec1;
}
#wrapper{
    width:300px;
    height:500px;
    border:1px solid #d1cec1;
    position: absolute;
    top:80px;
    right:0px;
    background: rgba(244,244,244,0.8);
    padding: 10px;
    font-family: '微软雅黑';
    font-size: 14px;
}
#top{
    height: 78px;
    background: #FDFDFD;
    width: 100%;
    border-bottom:solid 1px #d4d4d4;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
    margin-bottom: 1px;
}
#logoTitle{
    position: absolute;
    left:150px;
    top:27px;
    line-height:25px;
    font-size:40px;
    color: #47525C;
    font-family: '微软雅黑';
}
#seconeTitle{
    position: absolute;
    left: 460px;
    top: 37px;
    font-family: '微软雅黑';
    font-size: 14px;
}
#logo{
    position: absolute;
    left:80px;
    top:10px;
}
.wc_wrapper select{
    width:150px;
}
.wc_wrapper{
    height:30px;
}
.wc_wrapper .c1{
    width:90px;
    float: left;
    text-align: left;
}
#console{
    position: absolute;
    bottom: 0px;
    right:0px;
    width:320px;
    height:300px;
    border-top:3px solid #e2e2e2;
    overflow-x: hidden;
}
#myself img{
    width:66px;
    height:66px;
}
#myself{
    position: absolute;
    top:13px;
    right:20px;
}